---
import Container from "./Container.astro";
import SectionHeading from "./SectionHeading.astro";
import flowData from "./Data/flow.json";
---

<section id="flow">
  <Container>
    <div class="relative flex flex-col items-center">
      <SectionHeading> Создай свою сказку </SectionHeading>
      <div class="flex items-center py-3 md:w-6/12 md:py-10">
        <p class="text-lg font-normal leading-5 text-center md:text-left">С помощью нашего сервиса мы можете создать историю, которая понравится вам и вашему ребенку, выполнив несколько шагов:</p>
    </div>
    </div>

    <div
      id="accordion-open"
      data-accordion="close"
      class="text-coal grid md:grid-cols-2 gap-4 my-6"
    >
      {
        flowData.process.map(({ id, hid, bid, target, title, description }) => (
          <h2 id={hid}>
            <div class="w-full px-7 py-5 md:px-10 md:py-7 bg-white focus:bg-ochre shadow border border-coal flex-col justify-start items-start gap-7 inline-flex">
              <button
                type="button"
                class="w-full flex justify-between items-center"
                data-accordion-target={target}
                aria-expanded="true"
                aria-controls={bid}
              >
                <div class="justify-start items-center gap-6 flex">
                  <h2 class="text-lg md:text-6xl font-medium">{id}</h2>
                  <h3 class="text-base md:text-3xl font-medium">{title}</h3>
                </div>
                <div class="flex-shrink-0 flex-grow-0 ml-3">
                  <img
                    data-accordion-icon
                    src="/team/plus.svg"
                    alt=""
                    class="justify-items-end w-6 h-6 md:w-10 md:h-10"
                    aria-hidden="true"
                  />
                </div>
              </button>
              <div class="text-lg font-normal" id={bid} aria-labelledby={hid} data-inactive-classes="bg-lime">
                <hr class="w-full border border-black mb-6" />
                <p class="mb-2 text-gray-500 text-sm md:text-lg">
                  {description}
                </p>
              </div>
            </div>
          </h2>
        ))
      }
    </div>
  </Container>
</section>
